<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>This is home page</h1> -->
    <h1>This is home page <%= 2+5+1 %>, Miss Gorgeous <%= 'amber'.toUpperCase() %></h1>
    <div style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
        <img src="http://localhost:3000/images/miss_amber.jpg" alt="Miss Amber" style="width: 700px; height: 700px;">
        <div style="display: flex; flex-direction: column;">
            <p>I really liked your blue eyes and the tattoo on your stomach, which I got to know that it means to stay strong. Nice having convo with you today ❤️</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, optio eveniet nihil vero repudiandae non blanditiis tenetur provident, ipsam, iusto earum inventore perferendis alias? Soluta accusantium blanditiis maxime tempora. Ut.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque atque, est eum deleniti accusantium, esse voluptatem dolores tempora consectetur, voluptate aspernatur debitis officiis itaque magni! Quod expedita commodi repellat amet.
            Quasi illum obcaecati aliquam! Veritatis inventore aut, enim earum modi ex, cumque, autem suscipit voluptas labore optio quia esse praesentium? Voluptas soluta qui consequatur suscipit architecto inventore nemo, autem dicta.
            Quos impedit tempore distinctio optio quisquam aperiam. Voluptatibus dolores recusandae ratione fuga rerum obcaecati repellat voluptatem unde ipsa repudiandae nam tenetur labore quasi dicta, eius reprehenderit voluptates. Placeat, provident consequuntur!
            Sint eos saepe quae, natus quisquam adipisci aliquid quod consectetur? Quidem tempora itaque debitis suscipit, perspiciatis sunt ipsum deserunt in tenetur. Quod quia ratione harum quam dignissimos porro aperiam enim?
            Perferendis impedit magnam sit omnis ab quaerat aut adipisci! Possimus, quisquam architecto! Reiciendis, consequuntur, soluta similique quia ea at neque natus dolorum, corporis deleniti vero vel aliquid explicabo eos doloremque!</p>
        </div>
    </div>
</body>
</html>