<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random number generator</title>
</head>
<body>
    <h1>Your random number: <%= rand %></h1>
    <% if(rand % 2 === 0) { %>
        <h2>Even number</h2>
    <% } else { %>
        <h2>Odd number</h2>
    <% } %>
    <h3><%= rand === 50 ? 'Number is equal to 50' : rand > 50 ? 'Number is greater than 50' : 'Number is less than 50' %></h3>
</body>
</html>